.Form{
    
    width: 90%;
    
}

.FormLogo{
    width:10% !important;
    float: left;
    
}
.UpperPart{
    margin-bottom: 1.5rem;
}
@media screen and (max-width:600px){
    .Form{
        width:100%;
    }
    .FormLogo{
        width: 40% !important;
    }
}

@media screen and (min-width:1024px) {
    .UpperPart{
        margin-left: 3.8rem;
    }
}